body {
  background: #11998e9f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #107e3ac2,
    #108d83cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2fcc6b4d,
    #148f8596
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
